/* Portfolio page - cases section
   ========================================================================== */

/**
 * Cases
 */
.portfolio-cases{
    padding-bottom: 200px;
    @media only screen and (max-width: 1080px){
        padding-bottom: 160px;
    }
    @media only screen and (max-width: 768px){
        padding-bottom: 120px;
    }
    @media only screen and (max-width: 660px){
        padding-bottom: 80px;
    }
    @media only screen and (max-width: 480px){
        padding-bottom: 60px;
    }
}


/**
 * Cases grid
 */
.portfolio-cases__grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio-cases__item{
    width: 100%;
    max-width: calc(50% - 40px);
    @media only screen and (max-width: 1400px) {
        max-width: calc(50% - 20px);
    }
    @media only screen and (max-width: 1080px) {
        max-width: calc(50% - 15px);
    }
    @media only screen and (max-width: 992px) {
        max-width: calc(50% - 7.5px);
    }
    @media only screen and (max-width: 960px) {
        max-width: 100%;
        &:nth-child(5){
            margin-bottom: 65px;
        }
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
        margin-bottom: 65px;
    }
}


/**
 * Cases item
 */
.portfolio-cases__item-img-wrapper{
    display: flex;
    margin-bottom: 40px;
    overflow: hidden;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    @media only screen and (max-width: 960px) {
        margin-bottom: 25px;
    }
}
.portfolio-cases__item-img{
    width: 100%;
    object-fit: cover;
    transition: all .35s ease;
    user-select: none;
    &:hover,
    &.active{
        opacity: .65;
        transform: scale(1.025);
    }
}
.portfolio-cases__item-category{
    font-size: 14px;
    font-weight: 600;
    color: $pinkColor2;
    text-transform: uppercase;
    @media only screen and (max-width: 960px){
        font-size: 13px;
    }
}
.portfolio-cases__item-title{
    display: inline-block;
    margin: 12px 0 14px;
    font-family: $nunitoSansFont;
    font-size: 32px;
    font-weight: 800;
    color: $whiteColor;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    @media only screen and (max-width: 1080px) {
        font-size: 28px;
    }
    @media only screen and (max-width: 992px){
        font-size: 26px;
    }
    @media only screen and (max-width: 820px){
        font-size: 24px;
    }
    @media only screen and (max-width: 768px){
        font-size: 20px;
    }
}
.portfolio-cases__item-text{
    color: $whiteColor;
}
.portfolio-cases__item-btn{
    position: relative;
    margin-top: 45px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:hover{
        .portfolio-cases__item-btn-line{
            width: 104px;
        }
    }
}
.portfolio-cases__item-btn-line{
    position: absolute;
    top: 50%;
    left: 0;
    height: 1.5px;
    width: 62px;
    background: $pinkColor2;
    transform: translateY(-50%);
    z-index: 1;
    transition: all .35s ease;
}
.portfolio-cases__item-btn-title{
    padding-left: 102px;
    font-family: $nunitoSansFont;
    font-size: 16px;
    font-weight: 700;
    color: $pinkColor2;
    text-transform: uppercase;
}