/* Grid
   ========================================================================== */

/**
 * Container
 */
.container{
    margin: 0 auto;
    width: calc(100% - 200px);
    max-width: 1520px;
    @media only screen and (max-width: 1400px) {
        width: calc(100% - 80px);
        max-width: 1460px;
    }
    @media only screen and (max-width: 1080px) {
        width: calc(100% - 60px);
    }
    @media only screen and (max-width: 992px) {
        width: calc(100% - 30px);
    }
}