/* Vars:
   ========================================================================== */

// Fonts
$cardoFont          : "Cardo",            Helvetica, Arial, sans-serif;
$poppinsFont        : "Poppins",          Helvetica, Arial, sans-serif;
$ralewayFont        : "Raleway",          Helvetica, Arial, sans-serif;
$playfairDisplayFont: "Playfair Display", Helvetica, Arial, sans-serif;
$nunitoSansFont     : "Nunito Sans",      Helvetica, Arial, sans-serif;
$abrilFatface       : "Abril Fatface",    Helvetica, Arial, sans-serif;

// Size
$mainFontSize  : 14px;
$mainFontWeight: 400;
$mainLineHeight: 1.3;

// Colors
$whiteColor: #fff;
$blackColor: #1F201F;
$greenColor: #26403D;
$pinkColor1: #E8A9A9;
$pinkColor2: #FD9E9E;
$pinkColor3: #F69C9F;

$testBgColor: #eeeeee10;